@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900);

html{
	--text : white;
	--backgroundClr : #1E272B;
	--secondaryClr : #222D32;
	--tabScreenBg : #263238;
	--blueClr : #00BCFF;
	--purpleClr : #7C5CFF;
}

*{
	box-sizing:border-box;
}

input , a, button, textarea{
	color:var(--text);
	font-size:inherit;
	background-color:inherit;
	font-family:inherit;
}



html,body{
	width:100%;
	height:100vh;
	background-color:var(--backgroundClr);
	color:var(--text);

	margin:0px;
	padding:0px;

	font-family:"Inconsolata" , sans-serif;
}